body {
    margin: 0;
    padding: 0;
    background-image: url(abstract-technology-particle-background_52683-25766.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: #cfcaca;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px !important;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    height: 670px;
}

.inputtext {
    margin-top: 0px;
    width: 350px;
    padding: 25px;
    height: 10px !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-width: 0;
    text-align: right !important;
}

button,
.empty {
    background-color: #cfcaca;
    padding: 20px;
    margin: 5px !important;
    border-width: 0;
    float: left;
    outline: none;
    text-transform: none;
    border: none;
    font-weight: bolder;
}

.lastbtn {
    width: 80px;
    font-size: 30px;
    font-weight: bolder;
    outline: none;
}

.lastbtnequal {
    width: 80px;
    background-color: #eef3a9;
    font-size: 30px;
    outline: none;
    font-weight: bolder;
}

.upbtn {
    width: 80px;
    font-size: 30px;
    outline: none;
}

.butn {
    width: 80px;
    font-size: 30px;
    outline: none;
}

button:nth-child() {
    font-size: 30px;
    background-color: royalblue;
}

button:hover {
    box-shadow: 5px 15px 20px rgb(158, 157, 157);
}

button:active {
    box-shadow: 4px 4px 10px black;
}